<div class="body">
    <div class="tarjeta">
        <img src="../../assets/livestock.png">
        <h1 class="titulo">Login</h1>

        <form [formGroup]="formLogin" (ngSubmit)="loginUsuario()">
            <div class="input">
                <input type="text" name="email" formControlName="email" placeholder="Email">
            </div>
            <div class="input">
                <input type="password" name="password" formControlName="password" placeholder="Contraseña">
            </div>

            <input type="submit" [ngClass]="formLogin.valid ? 'btnActivado' : 'btnDesactivado'" [disabled]="!formLogin.valid" value="Ingresar">
            <p>¿Ya tienes cuenta? <a href="register">Registrate</a></p>
        </form>
    </div>
</div>

<router-outlet></router-outlet>