.caramelos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
    padding: 50px;
}

.caramelo {
    width: 200px;
    height: 230px;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 0 auto;
}

.caramelo * {
    margin: 0;
}

img {
    height: 100px;

}

h1 {
    font-size: 1.5em;
    color: #333;
}

h2 {
    font-size: 1.2em;
    color: #666;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff61fc;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: 0.3s;
}