<div class="contenedor">
    <div class="formulario">
        <h1 class="titulo">Crear Xuxemon</h1>

        <form [formGroup]="formLogin" (ngSubmit)="loginUsuario()">
            <div class="input">
                <input type="text" name="nombre" formControlName="nombre" placeholder="Nombre">
            </div>
            <select name="tipo">
                <option value="">Selecciona un Tipo</option>
                <option value="agua">Agua</option>
                <option value="aire">Aire</option>
                <option value="tierra">Tierra</option>
            </select>
            <div class="input">
                <input type="text" name="archivo" formControlName="archivo" placeholder="Archivo">
            </div>

            <input type="submit" [ngClass]="formLogin.valid ? 'btnActivado' : 'btnDesactivado'" [disabled]="!formLogin.valid" value="Ingresar">
        </form>
        <a href="">Volver</a>
    </div>
</div>

<router-outlet></router-outlet><p>create works!</p>
