/* centramos todo el contenido del formulario */
.contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
}

/* estilo del formulario */
.formBox {
    width: 30%;
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
}

/* le quitamos el margen a los elementos */
img, p {
    display: inline-block;
    margin: 0;
}

/* ajustamos el tamaño de la imagen */
img {
    width: 100px;
}

/* centramos el contenido del formulario */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* estilo del div inputBox */
.inputBox {
    width: 65%;
    position: relative;
}

/* estilo de los input */
input, select {
    width: 65%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Concert One";
}

/* estilo del input */
.inputBox input, .inputBox select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 1em;
}

/* estilo span */
.inputBox span {
    position: absolute;
    padding: 10px;
    left: 0;
    pointer-events: none;
    color: #757575;
    font-size: 1em;
    transition: 0.5s;
}

/* estilo del input al estar focus o tener contenido */
.inputBox input:focus, .inputBox select:focus, .inputBox .input-focus {
    border: 1px solid #015FCC;
}

/* animacion y estilo del span al esta focus o tener contenido */
.inputBox input:focus ~ span, .inputBox .span-focus {
    transform: translate(10px) translateY(-5px);
    padding: 0 10px;
    border-left: 1px solid #015FCC;
    border-right: 1px solid #015FCC;
    color: #015FCC;
    background: #fff;
    font-size: 0.65em;
}

/* estilo del div errorBox */
.errorBox {
    height: 20px;
    margin-top: 1%;
    margin-bottom: 3%;
    text-align: left;
}

/* estilo del mensaje de error */
.error {
    padding: 2px;
    color: #f00;
    font-size: 14px;
    font-weight: 500;
}

/* estilo del boton */
input[type="submit"] {
    padding: 10px;
    margin-bottom: 2em;
}

/* estilo del boton al estar desactivado */
.btnDesactivado {
    background: gray;
    cursor: default;
}

/* estilo del boton al estar activado */
.btnActivado {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

/* estilo del boton al estar activado y pasar por encima */
.btnActivado:hover {
    background-color: #333;
}

/* animacion del boton al estar activado y hacer click */
.btnActivado:active {
    transform: translateY(3px);
}

/* estilo del link */
a {
    text-decoration: none;
    color: #c87575;
}