<div class="contenido">
    <div class="formBox">
        <h1>Editar Xuxemon</h1>

        <form [formGroup]="form" (ngSubmit)="editarXuxemon()" class="form">
            <div class="inputBox">
                <input type="text" formControlName="nombre" [ngClass]="{'input-focus': form.get('nombre')?.value}">
                <span [ngClass]="{'span-focus': form.get('nombre')?.value}">Nombre</span>
                <div class="errorBox">
                    <div class="error" *ngIf="form.get('nombre')?.touched && form.get('nombre')?.invalid">{{ this.errorNombre }}</div>
                </div>
            </div>

            <div class="inputBox">
                <select formControlName="tipo" [ngClass]="{'input-focus': form.get('tipo')?.value}">
                    <option value="agua">Agua</option>
                    <option value="aire">Aire</option>
                    <option value="tierra">Tierra</option>
                </select>
                <span [ngClass]="{'span-focus': form.get('tipo')?.value}">Tipo</span>
                <div class="errorBox"></div>
            </div>
            
            <div class="inputBox">
                <input type="text" formControlName="archivo" [ngClass]="{'input-focus': form.get('archivo')?.value}">
                <span [ngClass]="{'span-focus': form.get('archivo')?.value}">Archivo</span>
                <div class="errorBox">
                    <div class="error" *ngIf="form.get('archivo')?.touched && form.get('archivo')?.invalid">{{ this.errorArchivo }}</div>
                </div>
            </div>

            <input type="submit" [ngClass]="form.valid ? 'btnActivado' : 'btnDesactivado'" [disabled]="!form.valid" value="Actualizar Xuxemon">
        </form>
        <a routerLink="/mostrar-xuxemons">Volver</a>
    </div>
</div>

<router-outlet></router-outlet>