.xuxemons {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
}

.xuxemon {
    width: 200px;
    height: 230px;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.xuxemon * {
    margin: 0;
}

img {
    height: 100px;
    /* filter: brightness(0%); */
}

h1 {
    font-size: 1.5em;
    color: #333;
}

h2 {
    font-size: 1.2em;
    color: #666;
}


.TIERRA {
    color: rgb(186, 154, 113);
}

.AGUA {
    color: skyblue;
}

.AIRE {
    color: #e5e5e5;
    text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}


/* Responsive Styles */
@media screen and (max-width: 768px) {
    .xuxemons {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .xuxemon {
        width: 150px;
        height: 180px;
    }

    img {
        height: 80px;
    }

    h1 {
        font-size: 1.2em;
    }

    h2 {
        font-size: 1em;
    }
}

@media screen and (max-width: 480px) {
    .xuxemons {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .xuxemon {
        width: 120px;
        height: 150px;
    }

    img {
        height: 60px;
    }

    h1 {
        font-size: 1em;
    }

    h2 {
        font-size: 0.8em;
    }
}