nav {
    padding: 20px;
    background-color: #8735a7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 8px;
    display: flex;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.botones {
    margin-left: auto;
}

.botones button {
    border: none;
    background: none;
    color: #fff;
    cursor: pointer;
    font-family: "Concert One";
    font-size: 16px;
}

nav button {
    margin-left: 20px;
}