<nav>
    <a href="">Xuxemons</a>
    <div class="botones">
        <ng-container>
            <button routerLink="login">Login</button>
            <button routerLink="register">Registro</button>
        </ng-container>

        <ng-container>
            <button routerLink="mostrar-xuxemons">Xuxemons</button>
            <button (click)="xuxemonAleatorio()">Xuxemon Aleatorio</button>
        </ng-container>
        
        <ng-container>
            <button routerLink="xuxemons">Lista de xuxemons</button>
        </ng-container>
    </div>
</nav>

<router-outlet></router-outlet>