.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
}

.form {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 30px;
}

table, th, td {
    border: 1px solid #e0e0e0;
}

table {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #c87575;
}