<div class="contenedor">
    <div class="formulario">
        <h1>Parametros</h1>

        <form>
            <select name="tipo" formControlName="tipo">
                <option value="">Tamaño</option>
                <option value="agua">Pequeño</option>
                <option value="aire">Mediano</option>
                <option value="tierra">Grande</option>
            </select>
            <div class="input">
                <input type="text" name="archivo" formControlName="archivo" placeholder="Mediano">
            </div>
            <div class="input">
                <input type="text" name="archivo" formControlName="archivo" placeholder="Grande">
            </div>

            <input type="submit" value="Crear Xuxemon">
        </form>
        <a routerLink="/mostrar-xuxemons">Volver</a>
    </div>
</div>

<router-outlet></router-outlet>