.body {
    display: flex;
    align-items: center;
    height: 93vh;
}

.tarjeta {
    width: 90%;
    max-width: 400px;
    max-height: 600px;
    margin: 60px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 20px;
    animation: liquid;
}

input {
    font-family: "Concert One";
    width: 60%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input:hover {
    border-color: #333;
}

input[type="submit"] {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #333;
}

a {
    text-decoration: none;
    color: #c87575;
}