<div class="contenedor">
    <div class="formulario">
        <div>
            <img src="../../assets/livestock.png">
        </div>
        <h1 class="titulo">Registro</h1>
    
        <form [formGroup]="formRegister" (ngSubmit)="registrarUsuario()">
            <div class="input">
                <input type="text" name="nombre" formControlName="nombre" placeholder="Nombre">
            </div>
            <div class="input">
                <input type="text" name="apellidos" formControlName="apellidos" placeholder="Apellidos">
            </div>
            <div class="input">
                <input type="text" name="nick" formControlName="nick" placeholder="Nick">
            </div>
            <div class="input">
                <input type="text" name="email" formControlName="email" placeholder="Email">
            </div>
            <div class="input">
                <input type="password" name="password" formControlName="password" placeholder="Contraseña">
            </div>
            <div class="input">
                <input type="password" name="password2" formControlName="password2" placeholder="Confirmar contraseña">
            </div>
    
            <input type="submit" [ngClass]="formRegister.valid ? 'btnActivado' : 'btnDesactivado'" [disabled]="!formRegister.valid" value="Registrarse">
        </form>
        <div>
            <p>¿Ya tienes cuenta? <a href="login">Ingresar</a></p>
        </div>
    </div>
</div>

<router-outlet></router-outlet>