<div class="body">
    <div class="tarjeta">
        <img src="../../assets/livestock.png">
        <h1 class="titulo">Registro</h1>
    
        <form action="registro.php" method="post">
            <div class="input">
                <input type="text" name="nombre" placeholder="Nombre">
            </div>
            <div class="input">
                <input type="text" name="apellido" placeholder="Apellido">
            </div>
            <div class="input">
                <input type="email" name="email" placeholder="Email">
            </div>
            <div class="input">
                <input type="password" name="password" placeholder="Contraseña">
            </div>
            <div class="input">
                <input type="password" name="confirmPassword" placeholder="Confirmar contraseña">
            </div>
    
            <input type="submit" value="Registrarse">
            <p>¿Ya tienes cuenta? <a href="login">Ingresar</a></p>
        </form>
    </div>
</div>

<router-outlet></router-outlet>