.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
}

.formulario {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 25%;
    padding: 30px;
}

img, p {
    display: inline-block;
    margin: 0;
}

img {
    width: 100px;
}

input {
    font-family: "Concert One";
    width: 65%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input:hover {
    border-color: #333;
}

a {
    text-decoration: none;
    color: #c87575;
}

.btnDesactivado {
    background: gray;
    cursor: default;
}

.btnActivado {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.btnActivado:hover {
    background-color: #333;
}

.btnActivado:active {
    transform: translateY(3px);
}